<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="lC35WW3W-lsbLS4budw6dEXX7vHAhTQ3CM3g_f0div8" />
  <meta content="シレン6 簡単にアイテムの値段識別ができるツール" name="description">
  <title>シレン6 簡単値段識別ツール</title>
  <link rel="stylesheet" href="./assets/style.css">
  <link rel="stylesheet" href="./assets/mobile.css">
</head>
<body onclick="">
  <div id="app" v-cloak>
    <h1>シレン6 簡単値段識別ツール</h1>
    
    <div id="search-container">
      <div id="item-type-container">
        <template v-for="t in itemTypeList">
          <div class="radio-btn item-type"
               :class="{'selected': itemType === t}"
               @click="onClickItemType(t)">{{itemTypeName[t]}}</div>
        </template>
      </div>
  
      <div id="search-nedan-container">
        <select id="search-item-name" v-show="itemType === 'tuePlus'">
          <template v-for="name in tueNameList">
            <option :value="name">{{name}}</option>
          </template>
        </select>
  
        <div v-show="itemType !== 'buki' && itemType !== 'tate'"
             id="input-nedan-container">
          <div id="nedan-type-container">
            <template v-for="t in nedanTypeList">
              <div class="radio-btn nedan-type"
                   :class="{'selected': nedanType === t}"
                   @click="onClickNedanType(t)">{{nedanTypeName[t]}}</div>
            </template>
          </div>
          <input type="number" id="input-nedan" v-model="nedan"
                 @focus="onFocusInputNedan"
                 @blur="onBlurInputNedan"
                 @keydown.enter="onKeyDownEnterInputNedan">
          <img id="clear-btn" ref="clearBtn" src="./assets/gamara.png" @click="onClickClearBtn">
        </div>
      </div>
    </div>

    <div id="result">
      <template v-if="itemType === 'tuePlus'">
        <div id="message">
          <template v-if="resultTueCount === -1">
            <template v-if="isFirstTime">
              アイテムと値段を入力すると残り回数が分かります。
            </template>
            <template v-else>
              しかし、なにも起きなかった。
            </template>
          </template>
          <template v-else>
            残り {{resultTueCount}}回
          </template>
        </div>
      </template>
      <template v-else>
        <div id="message" v-if="resultItemList.length === 0">
          <template v-if="isFirstTime">
            値段を入力すると条件に一致するアイテムが分かります。
          </template>
          <template v-else>
            しかし、なにも起きなかった。
          </template>
        </div>
        <div v-else>
          <span v-show="resultItemList.some(item => !item.unused)">灰色：店売りで存在しない(憶測)</span>
          <span v-show="itemType === 'makimono' && resultItemList.some(item => item.needSelect)">
            黄色：選択式巻物
          </span>
          <span v-show="itemType === 'buki' || itemType === 'tate'">
            通常の値段一覧です。
          </span>
          <table>
            <tr>
              <th>名前</th><th>買値</th><th>売値</th>
            </tr>
            <tr v-for="item in resultItemList"
                :class="{'maybe-used': !item.unused, 'need-select': item.needSelect}">
              <td>{{item.name}}</td><td>{{item.kaine}}</td><td>{{item.urine}}</td>
            </tr>
          </table>
        </div>
      </template>
    </div>
  </div>

  <script src="./dist/main.js"></script>
</body>
</html>