<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="lC35WW3W-lsbLS4budw6dEXX7vHAhTQ3CM3g_f0div8" />
  <meta content="シレン6 簡単にアイテムの値段識別ができるツール" name="description">
  <title>シレン6 簡単値段識別ツール</title>
  <link rel="stylesheet" href="./assets/style.css">
  <link rel="stylesheet" href="./assets/mobile.css">
</head>
<body onclick="">
  <div id="app" v-cloak>
    <h1>シレン6 簡単値段識別ツール</h1>
    
    <div id="search-container">
      <div id="item-type-container">
        <template v-for="itemType in itemTypeList">
          <div class="radio-btn item-type"
               :class="{'selected': searchItemType === itemType}"
               @click="onClickItemType(itemType)">{{itemTypeName[itemType]}}</div>
        </template>
      </div>
  
      <div id="search-nedan-container">
        <select id="search-item-name" v-show="searchItemType === 'tuePlus'"
                                      v-model="searchItemName"
                                      @change="onChangeSearchItemName">
          <template v-for="name in tueNameList">
            <option :value="name">{{name}}</option>
          </template>
        </select>
  
        <div v-show="searchItemType !== 'buki' && searchItemType !== 'tate'"
             id="input-nedan-container">
          <div id="nedan-type-container">
            <template v-for="nedanType in nedanTypeList">
              <div class="radio-btn nedan-type"
                   v-if="!(searchItemType === 'tuePlus' && nedanType === 'all')"
                   :class="{'selected': searchNedanType === nedanType}"
                   @click="onClickNedanType(nedanType)">{{nedanTypeName[nedanType]}}</div>
            </template>
          </div>
          <input type="number" id="input-nedan" v-model="searchNedan"
                 :class="{'visibility-hidden': searchNedanType === 'all'}"
                 @focus="onFocusInputNedan"
                 @blur="onBlurInputNedan"
                 @keydown.enter="onKeyDownEnterInputNedan">
          <img id="clear-btn" ref="clearBtn" src="./assets/gamara.png"
               :class="{'visibility-hidden': searchNedanType === 'all'}"
               @click="onClickClearBtn">
        </div>
      </div>
    </div>

    <hr>

    <div id="result">
      <!-- 杖+ -->
      <template v-if="searchItemType === 'tuePlus'">
        <div id="message" v-if="resultTueCountList.length === 0">
          <template v-if="isTuePlusFirstTime">
            アイテムと値段を入力すると残り回数が分かります。
          </template>
          <template v-else>
            しかし、なにも起きなかった。
          </template>
        </div>
        <table v-else>
          <tr>
            <th>呪い</th><th>回数</th>
          </tr>
          <tr v-for="tue in resultTueCountList"
              :class="{'tue-noroi': tue.isNoroi}">
            <td class="center">{{tue.isNoroi ? 'あり' : 'なし'}}</td><td class="center">{{tue.count}}</td>
          </tr>
        </table>
      </template>
      <!-- 杖+以外 -->
      <template v-else>
        <div id="message" v-if="resultItemList.length === 0">
          <template v-if="isFirstTime">
            <template v-if="searchItemType !== 'tue'">
              値段を入力するとアイテムが分かります。
            </template>
            <template v-else>
              値段を入力するとアイテムが分かります。<br>
              合成した杖の回数を知りたい場合は、<br>
              「杖+」の項目を利用してください。
            </template>
          </template>
          <template v-else>
            しかし、なにも起きなかった。
          </template>
        </div>
        <template v-else>
          <div v-show="resultItemList.some(item => !item.unused && !isZeroTimes(item))">
            灰色：店売りで存在しない(憶測)
          </div>
          <div v-show="searchItemType === 'makimono' && resultItemList.some(item => item.needSelect)">
            黄色：選択式巻物
          </div>
          <div v-show="searchItemType === 'tue' && resultItemList.some(item => isZeroTimes(item))">
            橙色：残り回数0の値段
          </div>
          <div v-show="searchItemType === 'tubo' && resultItemList.some(item => isZeroTimes(item))">
            橙色：容量0の値段(利便性のために定義)
          </div>
          <table>
            <tr>
              <th>名前</th><th>買値</th><th>売値</th>
            </tr>
            <tr v-for="item in resultItemList"
                :class="{'maybe-used': !item.unused, 'need-select': item.needSelect, 'nedan-base': isZeroTimes(item)}">
              <td>{{item.name}}</td>
              <td class="right">{{item.kaine}}</td>
              <td class="right">{{item.urine}}</td>
            </tr>
          </table>
        </template>
        <div id="tips" v-show="searchItemType === 'tubo'">
          <h3>TIPS</h3>
          憶測なので参考程度に
          <h4>容量2～3</h4>
          <ul>
            <li>強化の壺</li>
            <li>弱化の壺</li>
            <li>笑いの壺</li>
          </ul>
          <h4>容量2～4</h4>
          <ul>
            <li>おはらいの壺</li>
            <li>呪いの壺</li>
            <li>底抜けの壺</li>
          </ul>
          <h4>容量3～4</h4>
          <ul>
            <li>合成の壺</li>
          </ul>
        </div>
      </template>
    </div>
  </div>

  <script src="./dist/main.js"></script>
</body>
</html>