
#app {
  margin: 0 8px;
}

#item-group {
  display: flex;

  > div:first-child {
    margin-left: 0;
  }

  > div {
    margin-left: 10px;
  }
}

#input-nedan-container {
  display: flex;

  > div:first-child {
    margin-left: 0;
  }

  > div {
    margin-left: 10px;
  }
}

#input-nedan {
  width: 70px;
}
