:root {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  background-color: #f5deb3;
}

input {
  font-size: 20px;
}

#app {
  margin: 0 8px;
}

h1 {
  color: #8b4513;
}

#item-group {
  display: flex;

  > div:first-child {
    margin-left: 0;
  }

  > div {
    margin-left: 10px;
  }
}

#input-nedan-container {
  display: flex;

  > *:first-child {
    margin-left: 0;
  }

  > * {
    margin-left: 10px;
  }
}

#input-nedan {
  width: 70px;
}

