
@media screen and (max-width: 900px) {
  #app {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 730px) {
  h1 {
    font-size: 32px;
  }

  #room-container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 580px) {
  :root {
    font-size: 1.2rem;
  }

  input, .plus-minus-input-numbur input[type="number"] {
    font-size: 1.2rem;
  }
  
  #app {
    margin: 0;
    padding: 0 8px;
  }

  h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .config-container {
    column-gap: normal;
    justify-content: space-between;
  }

  #config-area {
    max-width: 400px; /* これがちょうどよい */
    margin: 0 auto;
  }

  #poem {
    padding-left: 8px;
    padding-right: 8px;
  }
}
