
[v-cloak] {
  display: none !important;
}

:root {
  font-family: Verdana, sans-serif;
  font-size: 1.4rem;
  background-color: #eecfaa;

  user-select: none; /* ドラッグされるとmouseupが発火しない */
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 90vh;
  margin: 0;
}

input {
  font-size: 1.4rem;
}

input[type="checkbox"] {
  transform: scale(1.4);
}

/* select {
  font-size: 1rem;
} */

#app {
  margin-left: 120px;
  max-width: 700px;
}

h1 {
  margin: 16px 0;
  color: #774c1b;
}

/* h2, h3 {
  margin: 16px 0;
} */

.item-container {
  display: flex;
  column-gap: 64px;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

#input-size {
  padding-left: 4px;
  width: 60px;
  height: 1.4rem;
  border: 2px solid #ccc;
  border-radius: 2px;

  -moz-appearance: textfield;
  appearance: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
    border-color: #007bff;
  }
}

#action-btn-area {
  display: flex;
  max-width: 400px;
  justify-content: space-between;
}

.action-btn {
  display: inline-block;
  height: 36px;
  padding: 0 8px;
  line-height: 36px;
  border-radius: 5px;
  border: 2px solid green;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  color: green;
  background-color: white;
  text-align: center;
  transition: background-color 0.2s, transform 0.2s;
}

@media (any-hover: hover) {
  .action-btn:hover {
    background-color: palegreen;
  }
}
@media (any-hover: none) {
  .action-btn:active {
    background-color: palegreen;
    transform: scale(0.9);
  }
}

.action-btn.reset {
  border: 2px solid #ff5733;
  color: #ff5733;
}

@media (any-hover: hover) {
  .action-btn.reset:hover {
    background-color: #f7ff7f;
  }
}
@media (any-hover: none) {
  .action-btn.reset:active {
    background-color: #f7ff7f;
    transform: scale(0.9);
  }
}

table {
  margin-top: 8px;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: white;
}

.byyn {
  background-color: #C8A2C8;
}

