
[v-cloak] {
  display: none !important;
}

:root {
  font-family: Verdana, sans-serif;
  font-size: 1.4rem;
  background-color: #eecfaa;

  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  height: 90vh;
  margin: 0;
}

input[type="checkbox"] {
  font-size: 1.4rem;
  transform: scale(1.4);
}

/* select {
  font-size: 1rem;
} */

#app {
  margin-left: 120px;
  max-width: 700px;
}

h1 {
  margin: 16px 0;
  color: #774c1b;
}

h2, h3 {
  margin: 16px 0;
}

.config-container {
  display: flex;
  column-gap: 64px;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.config {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

label {
  height: 39.5px;
  line-height: 39.5px;
  user-select: none;
  -webkit-user-select: none;
}

.plus-minus-input-numbur {
  display: flex;
  height: 38px;
  align-items: center;
  flex-wrap: nowrap;

  input[type="number"] {
    width: 60px;
    height: 38px;

    border: 1px solid #999;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 1.4rem;

    border-left-width: 0;
    border-right-width: 0;

    text-align: center;

    -moz-appearance: textfield;
    appearance: none;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }
}

.plus-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  line-height: calc(38px - 1px * 2);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #999;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: black;
  background-color: #98fb98;
  text-align: center;
  transition: background-color 0.2s;

  @media (any-hover: hover) {
    &:hover {
      background-color: #228b22;
    }
  }
  @media (any-hover: none) {
    &:active {
      background-color: #228b22;
    }
  }
}

.minus-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  line-height: calc(38px - 1px * 2);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #999;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: black;
  background-color: #ffa07a;
  text-align: center;
  transition: background-color 0.2s;

  @media (any-hover: hover) {
    &:hover {
      background-color: #cd5c5c;
    }
  }
  @media (any-hover: none) {
    &:active {
      background-color: #cd5c5c;
    }
  }
}

.radio-btn-container {
  display: flex;
  align-items: center;
}

.radio-btn {
  display: flex;
  min-width: 30px;
  height: 33.6px;
  line-height: 33.6px;
  padding: 2px 8px;
  border: 1px solid #00008b;
  border-right-width: 0;
  justify-content: center;
  text-align: center;
  color: #000;
  background-color: #add8e6;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
  -webkit-user-select: none;

  &:first-of-type {
    border-radius: 2px 0 0 2px;
  }

  &:last-of-type {
    border-radius: 0 2px 2px 0;
    border-right-width: 1px;
  }

  &.selected {
    background-color: #00008b;
    color: #fff;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #00008b;
      color: #fff;
    }
  }
  @media (any-hover: none) {
    &:active {
      background-color: #00008b;
      color: #fff;
    }
  }
}

.fill-type-byyn {
  border-color: #666;
  background-color: #C8A2C8;
  opacity: 0.5;

  &.selected {
    background-color: #ab2ad6;
    opacity: 1;
    color: #fff;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #ab2ad6;
      color: #fff;
      opacity: 1;
    }
  }
  @media (any-hover: none) {
    &:active {
      background-color: #ab2ad6;
      color: #fff;
      opacity: 1;
    }
  }
}

.byyn {
  background-color: #ab2ad6;
}

.fill-type-tuti {
  border-color: #666;
  background-color: #e2bc5b;
  opacity: 0.5;

  &.selected {
    background-color: #8B4513;
    opacity: 1;
    color: #fff;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #8B4513;
      color: #fff;
      opacity: 1;
    }
  }
  @media (any-hover: none) {
    &:active {
      background-color: #8B4513;
      color: #fff;
      opacity: 1;
    }
  }
}

.tuti {
  background-color: #8B4513;
}

#action-btn-area {
  display: flex;
  column-gap: 8px;
}

.action-btn {
  display: inline-block;
  height: 36px;
  padding: 0 8px;
  line-height: 36px;
  border-radius: 5px;
  border: 2px solid green;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  color: green;
  background-color: white;
  text-align: center;
  transition: background-color 0.2s, transform 0.2s;
}

@media (any-hover: hover) {
  .action-btn:hover {
    background-color: palegreen;
  }
}
@media (any-hover: none) {
  .action-btn:active {
    background-color: palegreen;
    transform: scale(0.9);
  }
}

.action-btn.reset {
  border: 2px solid #ff5733;
  color: #ff5733;
}

@media (any-hover: hover) {
  .action-btn.reset:hover {
    background-color: #f7ff7f;
  }
}
@media (any-hover: none) {
  .action-btn.reset:active {
    background-color: #f7ff7f;
    transform: scale(0.9);
  }
}

#path-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1px;
}

.path-btn {
  display: flex;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #00008b;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #000;
  background-color: #add8e6;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
  -webkit-user-select: none;

  &.selected {
    background-color: #00008b;
    color: #fff;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #00008b;
      color: #fff;
    }
  }
  @media (any-hover: none) {
    &:active {
      background-color: #00008b;
      color: #fff;
    }
  }
}

.message {
  margin-top: 8px;
}

#room-container {
  position: relative;
  height: calc(40px * 16);
  margin-top: 8px;

  user-select: none; /* ドラッグされるとmouseupが発火しない */
  -webkit-user-select: none;
}

table {
  position: absolute;
  top: 0;
  left: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: white;

  img {
    display: block;
    width: 100%;
    height: 100%;

    &.top-right {
      transform: rotate(90deg);
    }
  
    &.bottom-right {
      transform: rotate(180deg);
    }
  
    &.bottom-left {
      transform: rotate(270deg);
    }
  }
}

.item {
  background-color: rgba(255, 0, 0, 0.7);
}

.prev-item {
  background-color: rgba(255, 0, 0, 0.3);
}

#poem {
  margin-top: 16px;
  padding-bottom: 2rem;
  word-break: break-all;
  font-size: 0.94rem;
}

