
[v-cloak] {
  display: none !important;
}

:root {
  font-family: Verdana, sans-serif;
  font-size: 1.4rem;
  background-color: #eecfaa;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

body {
  height: 90vh;
}

input {
  font-size: 1.4rem;
}

select {
  font-size: 1rem;
}

#app {
  margin-left: 120px;
  max-width: 600px;
}

h1 {
  margin: 16px 0;
  color: #774c1b;
}

h2, h3 {
  margin: 16px 0;
}

#item-type-container {
  display: flex;
}

.radio-btn {
  display: flex;
  min-width: 30px;
  padding: 2px 4px;
  border: 1px solid #00008b;
  border-right-width: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  background-color: #add8e6;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
  -webkit-user-select: none;

  &:first-of-type {
    border-radius: 2px 0 0 2px;
  }

  &:last-of-type {
    border-radius: 0 2px 2px 0;
    border-right-width: 1px;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: #00008b;
      color: #fff;
    }
  }
  @media (any-hover: none) {
    &:active {
      background-color: #00008b;
      color: #fff;
    }
  }
}

.item-type {
  border-color: #00008b;
  background-color: #add8e6;
  opacity: 0.5;
  &.selected {
    background-color: #00008b;
    opacity: 1;
    color: #fff;
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: #00008b;
      opacity: 1;
      color: #fff;
    }
  }
  @media (any-hover: none) {
    &:active {
      background-color: #00008b;
      opacity: 1;
      color: #fff;
    }
  }
}

#search-nedan-container {
  margin-top: 0.8rem;
}

#search-item-name-container {
  display: flex;
  margin-bottom: 6px;
  align-items: center;
}

#search-item-name {
  padding: 2px 4px;
}

/* 金色参考元：https://zenn.dev/toshihide2000/articles/c4651f54f0db55 */
#jingi-btn {
  width: 60px;
  margin-left: 25px;
  border-radius: 2px;
  border-color: #daaf08;
  background-color: #b8b47d;
  opacity: 0.5;
  &.selected {
    background: linear-gradient(45deg, #DAAF08 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #DAAF08 90% 100%);
    background-size: 800% 400%;
    animation: luster 5s infinite cubic-bezier(.62, .28, .23, .99) both;
    opacity: 1;
    color: #fff;
  }
  @media (any-hover: hover) {
    &:hover {
      background: linear-gradient(45deg, #DAAF08 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #DAAF08 90% 100%);
      background-size: 800% 400%;
      animation: luster 5s infinite cubic-bezier(.62, .28, .23, .99) both;
      opacity: 1;
      color: #fff;
    }
  }
  @media (any-hover: none) {
    &:active {
      background: linear-gradient(45deg, #DAAF08 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #DAAF08 90% 100%);
      background-size: 800% 400%;
      animation: luster 5s infinite cubic-bezier(.62, .28, .23, .99) both;
      opacity: 1;
      color: #fff;
    }
  }
}

@keyframes luster {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#input-nedan-container {
  display: flex;
  align-items: center;
}

#nedan-type-container {
  display: flex;
  margin-right: 25px;
}

.nedan-type {
  border-color: #008000;
  background-color: #90ee90;
  opacity: 0.5;
  &.selected {
    background-color: #008000;
    opacity: 1;
    color: #fff;
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: #008000;
      opacity: 1;
      color: #fff;
    }
  }
  @media (any-hover: none) {
    &:active {
      background-color: #008000;
      opacity: 1;
      color: #fff;
    }
  }
}

#input-nedan {
  padding-left: 4px;
  width: 120px;
  height: 1.4rem;
  border: 2px solid #ccc;
  border-radius: 2px;

  -moz-appearance: textfield;
  appearance: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
    border-color: #007bff;
  }
}

#clear-btn {
  margin-left: 10px;
  height: 40px;
  cursor: pointer;
}

#item-status-container {
  display: flex;
}

.item-status {
  border-color: #6a0dad;
  background-color: #b78fcf;
  opacity: 0.5;
  &.selected {
    background-color: #6a0dad;
    opacity: 1;
    color: #fff;
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: #914ebe;
      opacity: 1;
      color: #fff;
    }
    &.selected:hover {
      background-color: #914ebe;
      opacity: 1;
      color: #000;
    }
  }
  @media (any-hover: none) {
    &:active {
      background-color: #914ebe;
      opacity: 1;
      color: #fff;
    }
    &.selected:active {
      background-color: #914ebe;
      opacity: 1;
      color: #000;
    }
  }
}

.jump {
  animation: jump 2s linear;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1000px);
  }
  51% {
    opacity: 0;
    transform: translateY(0);
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#in-name-select-container {
  display: flex;
  margin-top: 8px;
  align-items: center;
}

#in-name-select {
  padding: 2px 4px;
}

#in-tag-list {
  display: flex;
  padding: 2px;
  margin-top: 8px;
  gap: 0 5px;
  flex-wrap: wrap;
  border: 1px solid #333;
  border-radius: 5px;
}
.in-tag {
  display: flex;
  align-items: center;
  /* color: #f0f0f0; */
  padding: 3px;
  margin: 3px;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
}
.in-tag-close {
  height: 27px;
  margin-left: 2px;
  cursor: pointer;
}

.in-tag.normal {
  background-color: #5dade2;
}
.in-tag.isyu {
  background-color: #82e0aa;
}
.in-tag.tennen {
  background-color: #f7dc6f;
}

#in-reset-btn {
  margin-left: 10px;
  height: 40px;
  cursor: pointer;
}

.melt {
  animation: melt 5s linear;
}

@keyframes melt {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#result {
  min-height: 18rem;
}

.message {
  font-size: 0.94rem;
}

.alert-box {
  max-width: 500px;
  padding: 12px;
  border-radius: 8px;
  font-size: 0.94rem;
  color: #000;
  background-color: #f1bd13;
}

.item-list-title {
  font-weight: bold;
  margin-top: 16px;
  &:first-of-type {
    margin-top: 4px;
  }
  + table {
    margin-top: 0;
  }
}

table {
  margin-top: 4px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid #ccc;
}

th, td {
  min-width: 80px;
  max-width: 200px;
  border: 1px solid #ccc;
  border-bottom-width: 0;
  padding: 12px 6px;
}

.clickable {
  cursor: pointer;
}

th.search-nedan-type {
  background-color: #008000;
}

td.search-nedan-type {
  color: #d00;
  font-weight: bold;
}

th {
  background-color: #5d8397;
  color: #fff;
  border-bottom-width: 2px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

td.center {
  text-align: center;
}

td.right {
  text-align: right;
}

tr {
  background-color: #f8fbfe;
}

.maybe-used {
  background-color: #aaa;
}

.need-select {
  background-color: #ffff99;
}

.nedan-base {
  background-color: #ffb366;
}

.need-tubo-zoudai {
  background-color: #f47dff;
}

.borderline td {
  border-top-width: 2px;
  border-top-color: #999;
}

.exists-noroi {
  background-color: #ffcccc;
}

#config {
  font-size: 0.94rem;
}

#config input[type="checkbox"] {
  transform: scale(1.4);
}

.config-row {
  display: flex;
  align-items: center;

  label {
    margin-left: 8px;
    user-select: none;
    -webkit-user-select: none;
  }
}

#poem {
  padding-bottom: 2rem;
  word-break: break-all;
  font-size: 0.94rem;
}

